<header>
  <nav>
    <div class="logoBox">
      <img src="../../assets/images/facebook-logo.png" alt="logo">
    </div>
    <div class="searchBox">
      <input type="search">
      <i class="fas fa-search"></i>
    </div>
    <div class="iconBox">
      <i class="fa-solid fa-house"></i>
      <i class="fa-solid fa-user-group"></i>
      <i class="fa-solid fa-video"></i>
      <i class="fa-solid fa-gamepad"></i>
    </div>
    <div class="iconBox">
      <i class="fa-solid fa-circle-plus"></i>
      <i class="fa-brands fa-facebook-messenger"></i>
      <i class="fa-solid fa-bell"></i>
      <label><img src="../../assets/images/user.jpg" alt="user"></label>
      <i class="fa-solid fa-caret-down"></i>
    </div>
  </nav>
</header>
