<div class="main-right">
  <div class="wrapper">

    <div class="event-friend">
      <div class="event">
        <h3>Upcoming Events <span>see all</span></h3>
        <img src="../../assets/images/eve.jpg" alt="event-img">
        <div class="event-date">
          <h3>21 <b>july</b></h3>
          <h4>United state of America <span>New York City</span></h4>
        </div>
        <button><i class="fa-regular fa-star"></i> interested</button>
      </div>

      <hr>

      <div class="friend">
        <h3>Friend Requests <span>see all</span></h3>
        <ul>
          <li><img src="../../assets/images/user4.jpg" alt="user"></li>
          <li>
            <b>armanul islam</b>
            <p>Lorem ipsum dolor sit amet.</p>
            <button>confirm</button><button class="friend-remove">remove</button>
          </li>
        </ul>
      </div>

    </div>

    <div class="create-page">
      <ul>
        <li>
          <i class="fa-solid fa-circle-plus"></i>
          <h4>Create Page & Groups</h4>
          <i class="fa-solid fa-magnifying-glass"></i>
        </li>
        <li>
          <img src="../../assets/images/group.jpg" alt="groups">
        </li>
        <li>
          <b>simple group or page name <span>200k Members</span></b>
          <button>Join Group</button>
        </li>
      </ul>
    </div>

    <div class="messenger">
      <div class="messenger-search">
        <i class="fa-solid fa-user-group"></i>
        <h4>Messenger</h4>
        <input type="search" placeholder="Search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <ul>
        <li>
          <img src="../../assets/images/us2.png" alt="user">
          <b>Zunayed Hossain <span>Online</span></b>
          <i class="fa-brands fa-facebook-messenger"></i>
        </li>

        <li>
          <img src="../../assets/images/us3.png" alt="user">
          <b>Armanul Islam <span>Offline</span></b>
          <i class="fa-brands fa-facebook-messenger"></i>
        </li>

        <li>
          <img src="../../assets/images/us4.png" alt="user">
          <b>Mohammad Amir <span>Online</span></b>
          <i class="fa-brands fa-facebook-messenger"></i>
        </li>
      </ul>
    </div>

  </div>
</div>
